.footerContent
	.footerContentWrap
		p <a href="https://github.com/wizardry/gitadora_skill_sim" target="_blank">Github repository</a>
		.thanksWrap
			p developper List
			ul
				li wiz_rein @ 設計
				li wiz_rein @ 構築
				li wiz_rein @ JSON更新
footer
	.footerWrap
		p.copyright &copy;Copyright 2015 @wiz_rein
		p.developper Author by 
			a(href="https://twitter.com/wiz_rein" target="_blank") @wiz_rein