header
	.headerWrap
		.logoWrap
			a(href="/")
				h1 GITADORA スキルシミュレーター α
			p このページはGITADORAのスキルを管理するスキルシミュレーターです。
		- if(Auth::get_screen_name()){
			.loginInfo 
				-echo 'ユーザー名';
		- }


