.contentWrap.userPage
	.sectionBlock
		h2.sectionHeadline
			- echo $username;
			|さんの編集画面
		ul.tabMenu
			li.toMyEdit プロフィール情報の編集
			li.toDrum DRUMMANIA情報の編集
			li.toGuitar GUITARFREAKS情報の編集
		.tabContents
			.tabContent
				
			.tabContent
			.tabContent
