@charset "utf-8";
@import "reset";
@import "mixin";
@import "vars";
@import "layouts";
@import "buttons";
@import "tables";
@import "form";

body{
	min-width:map-get($default,contentWidth);
	line-height:map-get($default,line-height);
	font-size:map-get($default,font-size);
	color:map-get($default,color);
	font-family:map-get($default,font-family);
	position: relative;
}

%clearfix{
	@include clearfix();
}



/*grid base*/
.gridSysWrap{}

/*typography/headline*/
.sectionHeadline{}
.chapterHeadline{}
.partHeadline{}

.documentHeadline{}
.formHeadline{}

.read{}
.copy{}
.sectionBlock{
	@extend %clearfix;
}

.headerOuter{
	width:100%;
	background:#212121;
	color:#ccc;
}
.headerWrap{
	@extend %clearfix;
	padding:8px 16px;
	margin:0 auto;
	max-width:map-get($default,maxWidth);
	.logoWrap{
		float: left;
		h1{
			font-size: 26px;
			font-weight: bold;
			display: inline-block;
		}
		p{
			display: inline-block;
		}
	}
	.loginInfo{
		float: right;
		width: 250px;
		background:#333;
	}
}
.contentOuter{
	background:#f1f1f1;
}
.contentWrap{
	margin:0 auto;
	padding:16px;
	max-width:map-get($default,maxWidth);
}
.indexPage{
	.loginBlock,.registBlock{
		padding:8px 16px;
		float: left;
	}
	.loginBlockInner,.registBlockInner{
	}
	.registBlock{
	}
}
.registPage{
	.submitBase{
		margin:0 auto;
	}
}